 <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" >
        <div class="container" style="padding-top:20px;">
           

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-user" aria-hidden="true"></i>
                        <h5>Awesome Experience</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-pulse" aria-hidden="true"></i>
                        <h5>Fast and Simple</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-dashboard" aria-hidden="true"></i>
                        <h5>Clean Code</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-palette" aria-hidden="true"></i>
                        <h5>Perfect Design</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-crown" aria-hidden="true"></i>
                        <h5>Best Industry Leader</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">
                        <i class="ti-headphone" aria-hidden="true"></i>
                        <h5>24/7 Online Support</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <div class="container-fluid">
    				    <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" style="display: block;">
                            <ul class="nav-list list-inline">
                                <li><a href="javascript:;">
                                        <label><i class="fa fa-question-circle" style="font-size:48px;color:red"></i> 
                                            <span>Why We Need Security ?</span>
                                        </label></a>
                                </li>
                                <li><a href="javascript:;">
                                        <label><i class="fa fa-book" style="font-size:48px;color:red"></i> 
                                            <span>All Packages Guide</span>
                                        </label></a>
                                </li>
                                
                                 <li><a href="javascript:;">
                                        <label><i class="fa fa-star-half" style="font-size:48px;color:red"></i> 
                                            <span>Starter Packages</span>
                                        </label></a>
                                </li>
                                <li><a href="javascript:;">
                                        <label><i class="fa fa-phone-square" style="font-size:48px;color:red"></i> 
                                            <span>2-Way Wireless Packages</span>
                                        </label></a>
                                </li>
                                <li><a href="javascript:;">
                                        <label><i class="fa fa-plug" style="font-size:48px;color:red"></i> 
                                            <span>Wireless/Hardwire Pkg</span>
                                        </label></a>
                                </li>
                                
                                
                                <li><a href="javascript:;">
                                        <label><i class="fa fa-cloud" style="font-size:48px;color:red"> </i> 
                                            <span>No Landline or VoIP Package</span>
                                        </label></a>
                                </li>
                                
                                <li>
                                    <a href="javascript:;">
                                        <label><i class="fa fa-medkit" style="font-size:48px;color:red"> </i> 
                                            <span>Medical Health Pkg</span>
                                        </label>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <label><i class="fa fa-lock" style="font-size:48px;color:red"> </i> 
                                            <span>Monitored File Protection</span>
                                        </label>
                                    </a>
                                </li>
                                
                                 <li>
                                    <a href="javascript:;">
                                        <label><i class="fa fa-video-camera" style="font-size:48px;color:red"> </i> 
                                            <span>System Videos</span>
                                        </label>
                                    </a>
                                </li>
                               
                                
                                 </ul>
                          </div>

                    </div>                   
				</div>



















 <nav class="navbar navbar-expand-lg navbar-default navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand color-dust" href="#home" style="padding:5px;"><img src="/img/adt-images/adt-logo.png" width="80" class="img-responsive"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto color-dust" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                    <li class="nav-item" id="advantages">
                                <a class="nav-link dropdown-toggle" href="#home"
                                   id="dropdown04" data-toggle="dropdown" 
                                   aria-haspopup="true" aria-expanded="false">Home Security</a>
                                    
                <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li  class="dropdown-item"><a href="#">Why Need An Alarm<br>System</a></li>
            <li  class="dropdown-item"><a  href="#">All Package Guide</a></li>
            <li class="dropdown-item"><a href="#">Starter Package</a></li>
            <li class="dropdown-item"><a  href="#">2-Way Wireless Pkg</a></li>
            <li class="dropdown-item"><a  href="#">Wireless/Hardwired Pkg</a></li>
            <li class="dropdown-item"><a  href="#">No Landline Line or VoIP Pkg</a></li>
            <li class="dropdown-item"><a  href="#">Medical Health Pkg</a></li>
            <li class="dropdown-item"><a  href="#">Monitored File Protection</a></li>
            <li class="dropdown-item"><a  href="#">System Videos</a></li>
            <li class="dropdown-item"><a >Real Stories</a></li>
                </ul>
                                </li>
                                
                                    <li class="nav-item dropdown-toggle">
                                        <a class="nav-link dropdown-toggle"
                                           href="business" 
                                           id="dropdown04" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">Small Business</a>
                                      <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#screenshot">Products</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                
                                </div>
                            </div>
                        </nav>